@model Web.ViewModel.UserDishesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/Index.css">
</head>
<body>
    <div class="buttonStyle" style="margin-bottom:20px">

        <div>
            @{
                await Html.RenderPartialAsync("DishDialog", Model.DishModel);
            }
        </div>
    </div>

<div>
        <form asp-controller="User" asp-action="Post" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="fname">Имя</label>
                </div>
                <div class="col-75">
                    <input asp-for="UserDishModel.Name" type="text" class="form-control " name="UserName" / required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="lname">Почта</label>
                </div>
                <div class="col-75">
                    <input asp-for="UserDishModel.Email" type="text" class="form-control" name="UserEmail" / required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="country">Блюда</label>
                </div>
                <div class="col-75">
                    <select  id="country" name="DishName">
                        @foreach (var item in Model.Dish)
                        {
                            <option>@item.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div >
                <button class="button-9" role="button" type="submit"> Рассказать о том, что я ем </button>
            </div>
       
        </form>
</div>




</body>